################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KUSYS.Web/appsettings.json
/.vs
/KUSYS.Domain/obj
/KUSYS.Domain/bin
/KUSYS.Core/obj
/KUSYS.Core/bin