@model List<CourseDto>
@{
	int studentId = ViewBag.StudentId;
}

<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Seçili Dersler</h4>
  <br />
  <br />
	@foreach (var item in Model)
	{
		<p> 
			<button onclick="Course.RemoveSelectedCourse('@studentId','@item.Id')"> - </button> 
			@item.Code - @item.Name
		</p>

		<hr />
	}
</div>