@model List<CourseDto>
@{
	int studentId = ViewBag.StudentId;
}

<div class="alert alert-warning" role="alert">
	<h4 class="alert-heading">Seçilebilecek Dersler</h4>
	<br />
	<br />
	@foreach (var item in Model)
	{
		<p>
			<button onclick="Course.AddSelectableCourse('@studentId','@item.Id')"> + </button>
			@item.Code - @item.Name
		</p>

		<hr />
	}
</div>