@{
    ViewData["Title"] = "DERS YÖNETİMİ";

    int studentId = ViewBag.StudentId;
}

<div id="pvSelectedCourses"></div>

<br />

<div id="pvSelectableCourses"></div>

<script src="~/js/course.js"></script>

<script>
    $(function () {
        Course.LoadSelectedCourses('@studentId');
        Course.LoadSelectableCourses('@studentId');
    });
</script>