@{
    ViewData["Title"] = "Öğrenciler";
}

<div id="pvStudents"></div>

<script src="~/js/student.js"></script>

<script>
    $(function(){
        Student.LoadStudents();
    });
</script>